In [1]:
import numpy as np
import pylab as pl
from sklearn.linear_model import LassoCV, LassoLarsCV, LassoLarsIC
from sklearn.linear_model import Lasso
from sklearn import datasets
import pandas as pd
from datetime import datetime,timedelta
import json as js

In [2]:
file_gsr = "./gsrAll.json"

In [3]:
languages = ['English', 'Portuguese', 'Spanish']
min_date = datetime(2014, 1, 1)
max_date = datetime(2014, 12, 31)

In [4]:
df_gsr = pd.DataFrame(columns=('date', 'event', 'city'))
lines = open(file_gsr).readlines()
for i in range(len(lines)):
    obj = js.loads(lines[i])
    if obj['location'][0] == 'Brazil' and obj['eventType'].startswith('01'):
        df_gsr.loc[i] = [datetime.strptime(obj['eventDate'].split("T")[0], '%Y-%m-%d') + timedelta(days=-1), 
                         1,
                        obj['location'][1]]

df_gsr_selected = df_gsr[(df_gsr.date >= min_date)&(df_gsr.date <= max_date)]

In [5]:
df_gsr_selected

            date  event            city
14328 2014-01-01      1  Rio de Janeiro
14329 2014-01-02      1  Rio de Janeiro
14330 2014-01-02      1  Rio de Janeiro
14331 2014-01-01      1  Rio de Janeiro
14332 2014-01-02      1  Rio de Janeiro
14333 2014-01-03      1  Rio de Janeiro
14334 2014-01-03      1       São Paulo
14335 2014-01-04      1        Maranhão
14336 2014-01-04      1  Rio de Janeiro
14337 2014-01-04      1       São Paulo
14338 2014-01-05      1  Rio de Janeiro
14339 2014-01-05      1  Rio de Janeiro
14340 2014-01-05      1  Rio de Janeiro
14341 2014-01-05      1       São Paulo
14342 2014-01-06      1        Brasília
14343 2014-01-06      1        Brasília
14344 2014-01-06      1  Rio de Janeiro
14345 2014-01-06      1  Rio de Janeiro
14346 2014-01-06      1  Rio de Janeiro
14347 2014-01-06      1  Rio de Janeiro
14348 2014-01-06      1       São Paulo
14349 2014-01-07      1  Rio de Janeiro
14350 2014-01-07      1       São Paulo
14351 2014-01-08      1  Rio de Janeiro
14352 2014-01-08      1  Rio de Janeiro
14353 2014-01-08      1  Rio de Janeiro
14354 2014-01-09      1        Maranhão
14355 2014-01-09      1        Maranhão
14356 2014-01-09      1    Minas Gerais
14357 2014-01-09      1  Rio de Janeiro
...          ...    ...             ...
25615 2014-12-13      1  Rio de Janeiro
25616 2014-12-14      1        Brasília
25617 2014-12-14      1  Rio de Janeiro
25618 2014-12-14      1       São Paulo
25619 2014-12-15      1         Alagoas
25620 2014-12-15      1        Brasília
25621 2014-12-15      1  Rio de Janeiro
25622 2014-12-15      1  Rio de Janeiro
25623 2014-12-15      1  Rio de Janeiro
25624 2014-12-15      1  Rio de Janeiro
25625 2014-12-15      1       São Paulo
25627 2014-12-16      1           Bahia
25628 2014-12-16      1        Brasília
25629 2014-12-16      1  Rio de Janeiro
25630 2014-12-16      1  Rio de Janeiro
25631 2014-12-16      1  Rio de Janeiro
25632 2014-12-16      1       São Paulo
25633 2014-12-16      1       São Paulo
25634 2014-12-16      1       São Paulo
25635 2014-12-17      1  Rio de Janeiro
25636 2014-12-18      1  Rio de Janeiro
25637 2014-12-21      1        Brasília
25638 2014-12-21      1        Brasília
25639 2014-12-21      1        Brasília
25640 2014-12-21      1        Brasília
25641 2014-12-25      1  Rio de Janeiro
25642 2014-12-28      1          Paraná
26414 2014-12-31      1        Brasília
26415 2014-12-31      1  Rio de Janeiro
26416 2014-12-31      1       São Paulo

[1588 rows x 3 columns]

In [6]:
grouped = df_gsr_selected.groupby([df_gsr_selected['city'],df_gsr_selected['date']])

In [7]:
grouped

In [8]:
grouped = df_gsr_selected.groupby([df_gsr_selected['city'],df_gsr_selected['date']]).agg({'event': lambda x: 1})

In [9]:
grouped

                      event
city      date
-         2014-01-23      1
          2014-01-24      1
          2014-02-10      1
          2014-03-07      1
          2014-03-16      1
          2014-04-23      1
          2014-04-28      1
          2014-05-11      1
          2014-05-14      1
          2014-05-19      1
Acre      2014-05-26      1
Alagoas   2014-05-14      1
          2014-05-18      1
          2014-05-20      1
          2014-05-26      1
          2014-12-15      1
Amapá     2014-05-26      1
          2014-10-13      1
Amazonas  2014-01-12      1
          2014-01-28      1
          2014-02-13      1
          2014-02-18      1
          2014-02-21      1
          2014-03-21      1
          2014-04-26      1
          2014-05-20      1
          2014-05-26      1
          2014-06-10      1
          2014-07-14      1
          2014-08-31      1
...                     ...
São Paulo 2014-11-03      1
          2014-11-04      1
          2014-11-05      1
          2014-11-12      1
          2014-11-14      1
          2014-11-15      1
          2014-11-16      1
          2014-11-19      1
          2014-11-22      1
          2014-11-24      1
          2014-11-25      1
          2014-11-26      1
          2014-11-27      1
          2014-11-28      1
          2014-11-29      1
          2014-12-01      1
          2014-12-03      1
          2014-12-04      1
          2014-12-05      1
          2014-12-06      1
          2014-12-09      1
          2014-12-11      1
          2014-12-12      1
          2014-12-14      1
          2014-12-15      1
          2014-12-16      1
          2014-12-31      1
Tocantins 2014-03-13      1
          2014-05-20      1
          2014-06-23      1

[892 rows x 1 columns]

In [10]:
df_gsr_selected.shape

(1588, 3)

In [11]:
df_gsr_selected[value].groupby([df_gsr_selected['city']]).agg({'event': np.sum}).mean()

NameError: name 'value' is not defined

In [12]:
df_gsr_selected['value'].groupby([df_gsr_selected['city']]).agg({'event': np.sum}).mean()

KeyError: 'value'

In [13]:
df_gsr_selected['event'].groupby([df_gsr_selected['city']]).agg({'event': np.sum}).mean()

event    58.814815
dtype: float64

In [14]:
df_gsr_selected['event'].groupby([df_gsr_selected['city']]).agg({'event': np.sum})

                     event
city
-                       10
Acre                     1
Alagoas                  5
Amapá                    2
Amazonas                13
Bahia                   23
Brasília               115
Ceará                   17
Espírito Santo           2
Goiás                   31
Maranhão                18
Mato Grosso              6
Mato Grosso do Sul       3
Minas Gerais            45
Paraná                  40
Paraíba                 10
Pará                    25
Pernambuco              29
Piauí                   12
Rio Grande do Norte      7
Rio Grande do Sul       50
Rio de Janeiro         653
Rondônia                 2
Santa Catarina          10
Sergipe                  2
São Paulo              453
Tocantins                4

In [15]:
df_gsr_selected['event'].groupby([df_gsr_selected['city']]).agg({'event': np.sum})['event']

city
-                       10
Acre                     1
Alagoas                  5
Amapá                    2
Amazonas                13
Bahia                   23
Brasília               115
Ceará                   17
Espírito Santo           2
Goiás                   31
Maranhão                18
Mato Grosso              6
Mato Grosso do Sul       3
Minas Gerais            45
Paraná                  40
Paraíba                 10
Pará                    25
Pernambuco              29
Piauí                   12
Rio Grande do Norte      7
Rio Grande do Sul       50
Rio de Janeiro         653
Rondônia                 2
Santa Catarina          10
Sergipe                  2
São Paulo              453
Tocantins                4
Name: event, dtype: float64

In [16]:
df = DataFrame({'key1':['a','a','b','b','a'],
               'key2':['one','two','one','one'],
               'data1':np.random.randn(5),
               'data2':np.random.randn(5)})

NameError: name 'DataFrame' is not defined

In [17]:
df = pd.DataFrame({'key1':['a','a','b','b','a'],
               'key2':['one','two','one','one'],
               'data1':np.random.randn(5),
               'data2':np.random.randn(5)})

ValueError: arrays must all be same length

In [18]:
df = pd.DataFrame({'key1':['a','a','b','b','a'],
               'key2':['one','two','one','two','one'],
               'data1':np.random.randn(5),
               'data2':np.random.randn(5)})

In [19]:
states = np.array(['ohio','california','california','ohio','ohio'])

In [20]:
years = np.array([2005,2005,2006,2005,2006])

In [21]:
df['data1'].groupby([states,years]).means()

AttributeError: 'SeriesGroupBy' object has no attribute 'means'

In [22]:
df['data1'].groupby([states,years]).mean()

california  2005   -0.256371
            2006    0.316538
ohio        2005   -0.425003
            2006   -1.119656
Name: data1, dtype: float64

In [23]:
df

      data1     data2 key1 key2
0 -0.428779  0.676251    a  one
1 -0.256371 -0.161786    a  two
2  0.316538 -0.020142    b  one
3 -0.421226 -1.261896    b  two
4 -1.119656 -0.180810    a  one

In [24]:
df_gsr_selected

            date  event            city
14328 2014-01-01      1  Rio de Janeiro
14329 2014-01-02      1  Rio de Janeiro
14330 2014-01-02      1  Rio de Janeiro
14331 2014-01-01      1  Rio de Janeiro
14332 2014-01-02      1  Rio de Janeiro
14333 2014-01-03      1  Rio de Janeiro
14334 2014-01-03      1       São Paulo
14335 2014-01-04      1        Maranhão
14336 2014-01-04      1  Rio de Janeiro
14337 2014-01-04      1       São Paulo
14338 2014-01-05      1  Rio de Janeiro
14339 2014-01-05      1  Rio de Janeiro
14340 2014-01-05      1  Rio de Janeiro
14341 2014-01-05      1       São Paulo
14342 2014-01-06      1        Brasília
14343 2014-01-06      1        Brasília
14344 2014-01-06      1  Rio de Janeiro
14345 2014-01-06      1  Rio de Janeiro
14346 2014-01-06      1  Rio de Janeiro
14347 2014-01-06      1  Rio de Janeiro
14348 2014-01-06      1       São Paulo
14349 2014-01-07      1  Rio de Janeiro
14350 2014-01-07      1       São Paulo
14351 2014-01-08      1  Rio de Janeiro
14352 2014-01-08      1  Rio de Janeiro
14353 2014-01-08      1  Rio de Janeiro
14354 2014-01-09      1        Maranhão
14355 2014-01-09      1        Maranhão
14356 2014-01-09      1    Minas Gerais
14357 2014-01-09      1  Rio de Janeiro
...          ...    ...             ...
25615 2014-12-13      1  Rio de Janeiro
25616 2014-12-14      1        Brasília
25617 2014-12-14      1  Rio de Janeiro
25618 2014-12-14      1       São Paulo
25619 2014-12-15      1         Alagoas
25620 2014-12-15      1        Brasília
25621 2014-12-15      1  Rio de Janeiro
25622 2014-12-15      1  Rio de Janeiro
25623 2014-12-15      1  Rio de Janeiro
25624 2014-12-15      1  Rio de Janeiro
25625 2014-12-15      1       São Paulo
25627 2014-12-16      1           Bahia
25628 2014-12-16      1        Brasília
25629 2014-12-16      1  Rio de Janeiro
25630 2014-12-16      1  Rio de Janeiro
25631 2014-12-16      1  Rio de Janeiro
25632 2014-12-16      1       São Paulo
25633 2014-12-16      1       São Paulo
25634 2014-12-16      1       São Paulo
25635 2014-12-17      1  Rio de Janeiro
25636 2014-12-18      1  Rio de Janeiro
25637 2014-12-21      1        Brasília
25638 2014-12-21      1        Brasília
25639 2014-12-21      1        Brasília
25640 2014-12-21      1        Brasília
25641 2014-12-25      1  Rio de Janeiro
25642 2014-12-28      1          Paraná
26414 2014-12-31      1        Brasília
26415 2014-12-31      1  Rio de Janeiro
26416 2014-12-31      1       São Paulo

[1588 rows x 3 columns]

In [25]:
df_gsr_selected.groupby('city')

In [26]:
df_gsr_selected.groupby('city').agg({'event': lambda x: 1})

                     event
city
-                        1
Acre                     1
Alagoas                  1
Amapá                    1
Amazonas                 1
Bahia                    1
Brasília                 1
Ceará                    1
Espírito Santo           1
Goiás                    1
Maranhão                 1
Mato Grosso              1
Mato Grosso do Sul       1
Minas Gerais             1
Paraná                   1
Paraíba                  1
Pará                     1
Pernambuco               1
Piauí                    1
Rio Grande do Norte      1
Rio Grande do Sul        1
Rio de Janeiro           1
Rondônia                 1
Santa Catarina           1
Sergipe                  1
São Paulo                1
Tocantins                1

In [27]:
df_gsr_selected.groupby('city','date').agg({'event': lambda x: 1})

ValueError: No axis named date for object type <class 'pandas.core.frame.DataFrame'>

In [28]:
df_gsr_selected.head()

            date  event            city
14328 2014-01-01      1  Rio de Janeiro
14329 2014-01-02      1  Rio de Janeiro
14330 2014-01-02      1  Rio de Janeiro
14331 2014-01-01      1  Rio de Janeiro
14332 2014-01-02      1  Rio de Janeiro

In [29]:
df_gsr_selected.groupby(['city','date']).agg({'event': lambda x: 1})

                      event
city      date
-         2014-01-23      1
          2014-01-24      1
          2014-02-10      1
          2014-03-07      1
          2014-03-16      1
          2014-04-23      1
          2014-04-28      1
          2014-05-11      1
          2014-05-14      1
          2014-05-19      1
Acre      2014-05-26      1
Alagoas   2014-05-14      1
          2014-05-18      1
          2014-05-20      1
          2014-05-26      1
          2014-12-15      1
Amapá     2014-05-26      1
          2014-10-13      1
Amazonas  2014-01-12      1
          2014-01-28      1
          2014-02-13      1
          2014-02-18      1
          2014-02-21      1
          2014-03-21      1
          2014-04-26      1
          2014-05-20      1
          2014-05-26      1
          2014-06-10      1
          2014-07-14      1
          2014-08-31      1
...                     ...
São Paulo 2014-11-03      1
          2014-11-04      1
          2014-11-05      1
          2014-11-12      1
          2014-11-14      1
          2014-11-15      1
          2014-11-16      1
          2014-11-19      1
          2014-11-22      1
          2014-11-24      1
          2014-11-25      1
          2014-11-26      1
          2014-11-27      1
          2014-11-28      1
          2014-11-29      1
          2014-12-01      1
          2014-12-03      1
          2014-12-04      1
          2014-12-05      1
          2014-12-06      1
          2014-12-09      1
          2014-12-11      1
          2014-12-12      1
          2014-12-14      1
          2014-12-15      1
          2014-12-16      1
          2014-12-31      1
Tocantins 2014-03-13      1
          2014-05-20      1
          2014-06-23      1

[892 rows x 1 columns]

In [30]:
grouped = df_gsr_selected.groupby(['city','date']).agg({'event': lambda x: 1})

In [31]:
df_gsr_selected.groupby(['city','date']).size()

city       date
-          2014-01-23    1
           2014-01-24    1
           2014-02-10    1
           2014-03-07    1
           2014-03-16    1
           2014-04-23    1
           2014-04-28    1
           2014-05-11    1
           2014-05-14    1
           2014-05-19    1
Acre       2014-05-26    1
Alagoas    2014-05-14    1
           2014-05-18    1
           2014-05-20    1
           2014-05-26    1
           2014-12-15    1
Amapá      2014-05-26    1
           2014-10-13    1
Amazonas   2014-01-12    1
           2014-01-28    1
           2014-02-13    1
           2014-02-18    1
           2014-02-21    1
           2014-03-21    1
           2014-04-26    1
           2014-05-20    1
           2014-05-26    1
           2014-06-10    2
           2014-07-14    1
           2014-08-31    1
                        ..
São Paulo  2014-11-03    2
           2014-11-04    3
           2014-11-05    1
           2014-11-12    4
           2014-11-14    2
           2014-11-15    1
           2014-11-16    1
           2014-11-19    2
           2014-11-22    1
           2014-11-24    2
           2014-11-25    1
           2014-11-26    2
           2014-11-27    1
           2014-11-28    1
           2014-11-29    1
           2014-12-01    3
           2014-12-03    2
           2014-12-04    1
           2014-12-05    1
           2014-12-06    2
           2014-12-09    1
           2014-12-11    1
           2014-12-12    5
           2014-12-14    1
           2014-12-15    1
           2014-12-16    3
           2014-12-31    1
Tocantins  2014-03-13    2
           2014-05-20    1
           2014-06-23    1
dtype: int64

In [32]:
grouped2 = df_gsr_selected.groupby(['city','date']).size()

In [33]:
grouped2

city       date
-          2014-01-23    1
           2014-01-24    1
           2014-02-10    1
           2014-03-07    1
           2014-03-16    1
           2014-04-23    1
           2014-04-28    1
           2014-05-11    1
           2014-05-14    1
           2014-05-19    1
Acre       2014-05-26    1
Alagoas    2014-05-14    1
           2014-05-18    1
           2014-05-20    1
           2014-05-26    1
           2014-12-15    1
Amapá      2014-05-26    1
           2014-10-13    1
Amazonas   2014-01-12    1
           2014-01-28    1
           2014-02-13    1
           2014-02-18    1
           2014-02-21    1
           2014-03-21    1
           2014-04-26    1
           2014-05-20    1
           2014-05-26    1
           2014-06-10    2
           2014-07-14    1
           2014-08-31    1
                        ..
São Paulo  2014-11-03    2
           2014-11-04    3
           2014-11-05    1
           2014-11-12    4
           2014-11-14    2
           2014-11-15    1
           2014-11-16    1
           2014-11-19    2
           2014-11-22    1
           2014-11-24    2
           2014-11-25    1
           2014-11-26    2
           2014-11-27    1
           2014-11-28    1
           2014-11-29    1
           2014-12-01    3
           2014-12-03    2
           2014-12-04    1
           2014-12-05    1
           2014-12-06    2
           2014-12-09    1
           2014-12-11    1
           2014-12-12    5
           2014-12-14    1
           2014-12-15    1
           2014-12-16    3
           2014-12-31    1
Tocantins  2014-03-13    2
           2014-05-20    1
           2014-06-23    1
dtype: int64

In [34]:
df

      data1     data2 key1 key2
0 -0.428779  0.676251    a  one
1 -0.256371 -0.161786    a  two
2  0.316538 -0.020142    b  one
3 -0.421226 -1.261896    b  two
4 -1.119656 -0.180810    a  one

In [35]:
for name, group in df.groupby('key1'):
    print name
    print group

a
      data1     data2 key1 key2
0 -0.428779  0.676251    a  one
1 -0.256371 -0.161786    a  two
4 -1.119656 -0.180810    a  one
b
      data1     data2 key1 key2
2  0.316538 -0.020142    b  one
3 -0.421226 -1.261896    b  two

In [36]:
for name, group in df.groupby('key1'):
    print name

a
b

In [37]:
dict_temp = dict(list(df_gsr_selected.groupby(['city','date'])))

In [38]:
dict_temp

{(u'-', Timestamp('2014-01-23 00:00:00')):             date  event city
 14418 2014-01-23      1    -,
 (u'-', Timestamp('2014-01-24 00:00:00')):             date  event city
 14419 2014-01-24      1    -,
 (u'-', Timestamp('2014-02-10 00:00:00')):             date  event city
 15222 2014-02-10      1    -,
 (u'-', Timestamp('2014-03-07 00:00:00')):             date  event city
 16479 2014-03-07      1    -,
 (u'-', Timestamp('2014-03-16 00:00:00')):             date  event city
 16526 2014-03-16      1    -,
 (u'-', Timestamp('2014-04-23 00:00:00')):             date  event city
 17856 2014-04-23      1    -,
 (u'-', Timestamp('2014-04-28 00:00:00')):             date  event city
 17880 2014-04-28      1    -,
 (u'-', Timestamp('2014-05-11 00:00:00')):             date  event city
 18846 2014-05-11      1    -,
 (u'-', Timestamp('2014-05-14 00:00:00')):             date  event city
 18866 2014-05-14      1    -,
 (u'-', Timestamp('2014-05-19 00:00:00')):             date  event city
 18914 2014-05-19      1    -,
 (u'Acre', Timestamp('2014-05-26 00:00:00')):             date  event  city
 18973 2014-05-26      1  Acre,
 (u'Alagoas',
  Timestamp('2014-05-14 00:00:00')):             date  event     city
 18867 2014-05-14      1  Alagoas,
 (u'Alagoas',
  Timestamp('2014-05-18 00:00:00')):             date  event     city
 18911 2014-05-18      1  Alagoas,
 (u'Alagoas',
  Timestamp('2014-05-20 00:00:00')):             date  event     city
 18924 2014-05-20      1  Alagoas,
 (u'Alagoas',
  Timestamp('2014-05-26 00:00:00')):             date  event     city
 18974 2014-05-26      1  Alagoas,
 (u'Alagoas',
  Timestamp('2014-12-15 00:00:00')):             date  event     city
 25619 2014-12-15      1  Alagoas,
 (u'Amap\xe1',
  Timestamp('2014-05-26 00:00:00')):             date  event   city
 18975 2014-05-26      1  Amapá,
 (u'Amap\xe1',
  Timestamp('2014-10-13 00:00:00')):             date  event   city
 23568 2014-10-13      1  Amapá,
 (u'Amazonas',
  Timestamp('2014-01-12 00:00:00')):             date  event      city
 14363 2014-01-12      1  Amazonas,
 (u'Amazonas',
  Timestamp('2014-01-28 00:00:00')):             date  event      city
 14437 2014-01-28      1  Amazonas,
 (u'Amazonas',
  Timestamp('2014-02-13 00:00:00')):             date  event      city
 15236 2014-02-13      1  Amazonas,
 (u'Amazonas',
  Timestamp('2014-02-18 00:00:00')):             date  event      city
 15258 2014-02-18      1  Amazonas,
 (u'Amazonas',
  Timestamp('2014-02-21 00:00:00')):             date  event      city
 15277 2014-02-21      1  Amazonas,
 (u'Amazonas',
  Timestamp('2014-03-21 00:00:00')):             date  event      city
 16558 2014-03-21      1  Amazonas,
 (u'Amazonas',
  Timestamp('2014-04-26 00:00:00')):             date  event      city
 17870 2014-04-26      1  Amazonas,
 (u'Amazonas',
  Timestamp('2014-05-20 00:00:00')):             date  event      city
 18925 2014-05-20      1  Amazonas,
 (u'Amazonas',
  Timestamp('2014-05-26 00:00:00')):             date  event      city
 18976 2014-05-26      1  Amazonas,
 (u'Amazonas',
  Timestamp('2014-06-10 00:00:00')):             date  event      city
 19998 2014-06-10      1  Amazonas
 19999 2014-06-10      1  Amazonas,
 (u'Amazonas',
  Timestamp('2014-07-14 00:00:00')):             date  event      city
 22835 2014-07-14      1  Amazonas,
 (u'Amazonas',
  Timestamp('2014-08-31 00:00:00')):             date  event      city
 21985 2014-08-31      1  Amazonas,
 (u'Bahia', Timestamp('2014-02-06 00:00:00')):             date  event   city
 15197 2014-02-06      1  Bahia,
 (u'Bahia', Timestamp('2014-02-10 00:00:00')):             date  event   city
 15208 2014-02-10      1  Bahia,
 (u'Bahia', Timestamp('2014-04-14 00:00:00')):             date  event   city
 17822 2014-04-14      1  Bahia,
 (u'Bahia', Timestamp('2014-04-15 00:00:00')):             date  event   city
 17828 2014-04-15      1  Bahia,
 (u'Bahia', Timestamp('2014-04-21 00:00:00')):             date  event   city
 17848 2014-04-21      1  Bahia,
 (u'Bahia', Timestamp('2014-04-27 00:00:00')):             date  event   city
 17874 2014-04-27      1  Bahia,
 (u'Bahia', Timestamp('2014-05-14 00:00:00')):             date  event   city
 18868 2014-05-14      1  Bahia
 18869 2014-05-14      1  Bahia,
 (u'Bahia', Timestamp('2014-05-20 00:00:00')):             date  event   city
 18926 2014-05-20      1  Bahia,
 (u'Bahia', Timestamp('2014-05-25 00:00:00')):             date  event   city
 18968 2014-05-25      1  Bahia,
 (u'Bahia', Timestamp('2014-05-26 00:00:00')):             date  event   city
 18977 2014-05-26      1  Bahia
 18978 2014-05-26      1  Bahia,
 (u'Bahia', Timestamp('2014-05-27 00:00:00')):             date  event   city
 19008 2014-05-27      1  Bahia,
 (u'Bahia', Timestamp('2014-06-11 00:00:00')):             date  event   city
 20004 2014-06-11      1  Bahia,
 (u'Bahia', Timestamp('2014-06-12 00:00:00')):             date  event   city
 20018 2014-06-12      1  Bahia,
 (u'Bahia', Timestamp('2014-06-13 00:00:00')):             date  event   city
 20020 2014-06-13      1  Bahia,
 (u'Bahia', Timestamp('2014-06-15 00:00:00')):             date  event   city
 20031 2014-06-15      1  Bahia,
 (u'Bahia', Timestamp('2014-07-16 00:00:00')):             date  event   city
 22848 2014-07-16      1  Bahia,
 (u'Bahia', Timestamp('2014-07-26 00:00:00')):             date  event   city
 22867 2014-07-26      1  Bahia,
 (u'Bahia', Timestamp('2014-09-03 00:00:00')):             date  event   city
 21993 2014-09-03      1  Bahia,
 (u'Bahia', Timestamp('2014-09-17 00:00:00')):             date  event   city
 22053 2014-09-17      1  Bahia,
 (u'Bahia', Timestamp('2014-10-08 00:00:00')):             date  event   city
 23554 2014-10-08      1  Bahia,
 (u'Bahia', Timestamp('2014-12-16 00:00:00')):             date  event   city
 25627 2014-12-16      1  Bahia,
 (u'Bras\xedlia',
  Timestamp('2014-01-06 00:00:00')):             date  event      city
 14342 2014-01-06      1  Brasília
 14343 2014-01-06      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-01-14 00:00:00')):             date  event      city
 14371 2014-01-14      1  Brasília
 14372 2014-01-14      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-01-20 00:00:00')):             date  event      city
 14395 2014-01-20      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-01-24 00:00:00')):             date  event      city
 14423 2014-01-24      1  Brasília
 14424 2014-01-24      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-01-27 00:00:00')):             date  event      city
 14432 2014-01-27      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-01-31 00:00:00')):             date  event      city
 15158 2014-01-31      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-02-03 00:00:00')):             date  event      city
 15164 2014-02-03      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-02-06 00:00:00')):             date  event      city
 15185 2014-02-06      1  Brasília
 15186 2014-02-06      1  Brasília
 15187 2014-02-06      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-02-10 00:00:00')):             date  event      city
 15209 2014-02-10      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-02-11 00:00:00')):             date  event      city
 15223 2014-02-11      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-02-12 00:00:00')):             date  event      city
 15228 2014-02-12      1  Brasília
 15229 2014-02-12      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-02-16 00:00:00')):             date  event      city
 15244 2014-02-16      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-02-24 00:00:00')):             date  event      city
 15290 2014-02-24      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-02-25 00:00:00')):             date  event      city
 15299 2014-02-25      1  Brasília
 15300 2014-02-25      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-03-10 00:00:00')):             date  event      city
 16491 2014-03-10      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-03-11 00:00:00')):             date  event      city
 16500 2014-03-11      1  Brasília
 16501 2014-03-11      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-03-12 00:00:00')):             date  event      city
 16505 2014-03-12      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-03-21 00:00:00')):             date  event      city
 16559 2014-03-21      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-03-25 00:00:00')):             date  event      city
 16585 2014-03-25      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-03-30 00:00:00')):             date  event      city
 16613 2014-03-30      1  Brasília
 16614 2014-03-30      1  Brasília
 17717 2014-03-30      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-03-31 00:00:00')):             date  event      city
 17721 2014-03-31      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-04-01 00:00:00')):             date  event      city
 17731 2014-04-01      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-04-03 00:00:00')):             date  event      city
 17746 2014-04-03      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-04-06 00:00:00')):             date  event      city
 17764 2014-04-06      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-04-07 00:00:00')):             date  event      city
 17776 2014-04-07      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-04-08 00:00:00')):             date  event      city
 17783 2014-04-08      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-04-10 00:00:00')):             date  event      city
 17801 2014-04-10      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-04-16 00:00:00')):             date  event      city
 17832 2014-04-16      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-04-27 00:00:00')):             date  event      city
 17875 2014-04-27      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-05-05 00:00:00')):             date  event      city
 18814 2014-05-05      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-05-14 00:00:00')):             date  event      city
 18870 2014-05-14      1  Brasília
 18871 2014-05-14      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-05-15 00:00:00')):             date  event      city
 18887 2014-05-15      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-05-16 00:00:00')):             date  event      city
 18900 2014-05-16      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-05-20 00:00:00')):             date  event      city
 18927 2014-05-20      1  Brasília
 18928 2014-05-20      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-05-21 00:00:00')):             date  event      city
 18950 2014-05-21      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-05-22 00:00:00')):             date  event      city
 18959 2014-05-22      1  Brasília
 18960 2014-05-22      1  Brasília
 18961 2014-05-22      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-05-26 00:00:00')):             date  event      city
 18979 2014-05-26      1  Brasília
 18980 2014-05-26      1  Brasília
 18981 2014-05-26      1  Brasília
 18982 2014-05-26      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-05-28 00:00:00')):             date  event      city
 19018 2014-05-28      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-05-29 00:00:00')):             date  event      city
 19027 2014-05-29      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-06-02 00:00:00')):             date  event      city
 19946 2014-06-02      1  Brasília
 19947 2014-06-02      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-06-03 00:00:00')):             date  event      city
 19956 2014-06-03      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-06-04 00:00:00')):             date  event      city
 19964 2014-06-04      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-06-08 00:00:00')):             date  event      city
 19988 2014-06-08      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-06-11 00:00:00')):             date  event      city
 20005 2014-06-11      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-06-14 00:00:00')):             date  event      city
 20024 2014-06-14      1  Brasília
 20025 2014-06-14      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-06-18 00:00:00')):             date  event      city
 20057 2014-06-18      1  Brasília
 20058 2014-06-18      1  Brasília
 20059 2014-06-18      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-06-22 00:00:00')):             date  event      city
 20067 2014-06-22      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-06-24 00:00:00')):             date  event      city
 20078 2014-06-24      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-07-03 00:00:00')):             date  event      city
 22801 2014-07-03      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-07-04 00:00:00')):             date  event      city
 22806 2014-07-04      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-07-08 00:00:00')):             date  event      city
 22819 2014-07-08      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-07-11 00:00:00')):             date  event      city
 22824 2014-07-11      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-07-12 00:00:00')):             date  event      city
 22826 2014-07-12      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-07-14 00:00:00')):             date  event      city
 22836 2014-07-14      1  Brasília
 22837 2014-07-14      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-07-15 00:00:00')):             date  event      city
 22842 2014-07-15      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-08-02 00:00:00')):             date  event      city
 21063 2014-08-02      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-08-06 00:00:00')):             date  event      city
 21075 2014-08-06      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-08-11 00:00:00')):             date  event      city
 21098 2014-08-11      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-08-21 00:00:00')):             date  event      city
 21123 2014-08-21      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-09-02 00:00:00')):             date  event      city
 21989 2014-09-02      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-09-03 00:00:00')):             date  event      city
 21994 2014-09-03      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-09-08 00:00:00')):             date  event      city
 22013 2014-09-08      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-09-09 00:00:00')):             date  event      city
 22018 2014-09-09      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-09-15 00:00:00')):             date  event      city
 22043 2014-09-15      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-09-16 00:00:00')):             date  event      city
 22048 2014-09-16      1  Brasília
 22049 2014-09-16      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-10-13 00:00:00')):             date  event      city
 23569 2014-10-13      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-10-20 00:00:00')):             date  event      city
 23595 2014-10-20      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-10-28 00:00:00')):             date  event      city
 23647 2014-10-28      1  Brasília
 23648 2014-10-28      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-10-29 00:00:00')):             date  event      city
 23653 2014-10-29      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-10-31 00:00:00')):             date  event      city
 24601 2014-10-31      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-11-09 00:00:00')):             date  event      city
 24614 2014-11-09      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-11-10 00:00:00')):             date  event      city
 24616 2014-11-10      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-11-14 00:00:00')):             date  event      city
 24626 2014-11-14      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-11-17 00:00:00')):             date  event      city
 24635 2014-11-17      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-12-01 00:00:00')):             date  event      city
 25582 2014-12-01      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-12-02 00:00:00')):             date  event      city
 25586 2014-12-02      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-12-03 00:00:00')):             date  event      city
 25587 2014-12-03      1  Brasília
 25588 2014-12-03      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-12-04 00:00:00')):             date  event      city
 25592 2014-12-04      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-12-07 00:00:00')):             date  event      city
 25598 2014-12-07      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-12-08 00:00:00')):             date  event      city
 25599 2014-12-08      1  Brasília
 25600 2014-12-08      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-12-10 00:00:00')):             date  event      city
 25606 2014-12-10      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-12-14 00:00:00')):             date  event      city
 25616 2014-12-14      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-12-15 00:00:00')):             date  event      city
 25620 2014-12-15      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-12-16 00:00:00')):             date  event      city
 25628 2014-12-16      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-12-21 00:00:00')):             date  event      city
 25637 2014-12-21      1  Brasília
 25638 2014-12-21      1  Brasília
 25639 2014-12-21      1  Brasília
 25640 2014-12-21      1  Brasília,
 (u'Bras\xedlia',
  Timestamp('2014-12-31 00:00:00')):             date  event      city
 26414 2014-12-31      1  Brasília,
 (u'Cear\xe1',
  Timestamp('2014-01-28 00:00:00')):             date  event   city
 14438 2014-01-28      1  Ceará,
 (u'Cear\xe1',
  Timestamp('2014-02-06 00:00:00')):             date  event   city
 15184 2014-02-06      1  Ceará,
 (u'Cear\xe1',
  Timestamp('2014-02-21 00:00:00')):             date  event   city
 15278 2014-02-21      1  Ceará,
 (u'Cear\xe1',
  Timestamp('2014-03-21 00:00:00')):             date  event   city
 16560 2014-03-21      1  Ceará,
 (u'Cear\xe1',
  Timestamp('2014-04-22 00:00:00')):             date  event   city
 18791 2014-04-22      1  Ceará,
 (u'Cear\xe1',
  Timestamp('2014-05-04 00:00:00')):             date  event   city
 18809 2014-05-04      1  Ceará,
 (u'Cear\xe1',
  Timestamp('2014-05-14 00:00:00')):             date  event   city
 18872 2014-05-14      1  Ceará,
 (u'Cear\xe1',
  Timestamp('2014-05-28 00:00:00')):             date  event   city
 19019 2014-05-28      1  Ceará,
 (u'Cear\xe1',
  Timestamp('2014-06-11 00:00:00')):             date  event   city
 20006 2014-06-11      1  Ceará
 20007 2014-06-11      1  Ceará,
 (u'Cear\xe1',
  Timestamp('2014-06-13 00:00:00')):             date  event   city
 20021 2014-06-13      1  Ceará,
 (u'Cear\xe1',
  Timestamp('2014-06-16 00:00:00')):             date  event   city
 20044 2014-06-16      1  Ceará,
 (u'Cear\xe1',
  Timestamp('2014-06-22 00:00:00')):             date  event   city
 20068 2014-06-22      1  Ceará,
 (u'Cear\xe1',
  Timestamp('2014-06-25 00:00:00')):             date  event   city
 20081 2014-06-25      1  Ceará,
 (u'Cear\xe1',
  Timestamp('2014-07-03 00:00:00')):             date  event   city
 22802 2014-07-03      1  Ceará
 22803 2014-07-03      1  Ceará,
 (u'Cear\xe1',
  Timestamp('2014-07-13 00:00:00')):             date  event   city
 22829 2014-07-13      1  Ceará,
 (u'Esp\xedrito Santo',
  Timestamp('2014-05-20 00:00:00')):             date  event            city
 18929 2014-05-20      1  Espírito Santo,
 (u'Esp\xedrito Santo',
  Timestamp('2014-05-26 00:00:00')):             date  event            city
 18983 2014-05-26      1  Espírito Santo,
 (u'Goi\xe1s',
  Timestamp('2014-02-06 00:00:00')):             date  event   city
 15188 2014-02-06      1  Goiás,
 (u'Goi\xe1s',
  Timestamp('2014-03-16 00:00:00')):             date  event   city
 16527 2014-03-16      1  Goiás,
 (u'Goi\xe1s',

In [39]:
dict_temp[0]

KeyError: 0

In [40]:
dict_temp = dict(list(df_gsr_selected.groupby('city')))

In [41]:
dict_temp

{u'-':             date  event city
 14418 2014-01-23      1    -
 14419 2014-01-24      1    -
 15222 2014-02-10      1    -
 16479 2014-03-07      1    -
 16526 2014-03-16      1    -
 17856 2014-04-23      1    -
 17880 2014-04-28      1    -
 18846 2014-05-11      1    -
 18866 2014-05-14      1    -
 18914 2014-05-19      1    -, u'Acre':             date  event  city
 18973 2014-05-26      1  Acre, u'Alagoas':             date  event     city
 18867 2014-05-14      1  Alagoas
 18911 2014-05-18      1  Alagoas
 18924 2014-05-20      1  Alagoas
 18974 2014-05-26      1  Alagoas
 25619 2014-12-15      1  Alagoas, u'Amap\xe1':             date  event   city
 18975 2014-05-26      1  Amapá
 23568 2014-10-13      1  Amapá, u'Amazonas':             date  event      city
 14363 2014-01-12      1  Amazonas
 14437 2014-01-28      1  Amazonas
 15236 2014-02-13      1  Amazonas
 15258 2014-02-18      1  Amazonas
 15277 2014-02-21      1  Amazonas
 16558 2014-03-21      1  Amazonas
 17870 2014-04-26      1  Amazonas
 18925 2014-05-20      1  Amazonas
 18976 2014-05-26      1  Amazonas
 19998 2014-06-10      1  Amazonas
 19999 2014-06-10      1  Amazonas
 21985 2014-08-31      1  Amazonas
 22835 2014-07-14      1  Amazonas, u'Bahia':             date  event   city
 15197 2014-02-06      1  Bahia
 15208 2014-02-10      1  Bahia
 17822 2014-04-14      1  Bahia
 17828 2014-04-15      1  Bahia
 17848 2014-04-21      1  Bahia
 17874 2014-04-27      1  Bahia
 18868 2014-05-14      1  Bahia
 18869 2014-05-14      1  Bahia
 18926 2014-05-20      1  Bahia
 18968 2014-05-25      1  Bahia
 18977 2014-05-26      1  Bahia
 18978 2014-05-26      1  Bahia
 19008 2014-05-27      1  Bahia
 20004 2014-06-11      1  Bahia
 20018 2014-06-12      1  Bahia
 20020 2014-06-13      1  Bahia
 20031 2014-06-15      1  Bahia
 21993 2014-09-03      1  Bahia
 22053 2014-09-17      1  Bahia
 22848 2014-07-16      1  Bahia
 22867 2014-07-26      1  Bahia
 23554 2014-10-08      1  Bahia
 25627 2014-12-16      1  Bahia, u'Bras\xedlia':             date  event      city
 14342 2014-01-06      1  Brasília
 14343 2014-01-06      1  Brasília
 14371 2014-01-14      1  Brasília
 14372 2014-01-14      1  Brasília
 14395 2014-01-20      1  Brasília
 14423 2014-01-24      1  Brasília
 14424 2014-01-24      1  Brasília
 14432 2014-01-27      1  Brasília
 15158 2014-01-31      1  Brasília
 15164 2014-02-03      1  Brasília
 15185 2014-02-06      1  Brasília
 15186 2014-02-06      1  Brasília
 15187 2014-02-06      1  Brasília
 15209 2014-02-10      1  Brasília
 15223 2014-02-11      1  Brasília
 15228 2014-02-12      1  Brasília
 15229 2014-02-12      1  Brasília
 15244 2014-02-16      1  Brasília
 15290 2014-02-24      1  Brasília
 15299 2014-02-25      1  Brasília
 15300 2014-02-25      1  Brasília
 16491 2014-03-10      1  Brasília
 16500 2014-03-11      1  Brasília
 16501 2014-03-11      1  Brasília
 16505 2014-03-12      1  Brasília
 16559 2014-03-21      1  Brasília
 16585 2014-03-25      1  Brasília
 16613 2014-03-30      1  Brasília
 16614 2014-03-30      1  Brasília
 17717 2014-03-30      1  Brasília
 ...          ...    ...       ...
 22836 2014-07-14      1  Brasília
 22837 2014-07-14      1  Brasília
 22842 2014-07-15      1  Brasília
 23569 2014-10-13      1  Brasília
 23595 2014-10-20      1  Brasília
 23647 2014-10-28      1  Brasília
 23648 2014-10-28      1  Brasília
 23653 2014-10-29      1  Brasília
 24601 2014-10-31      1  Brasília
 24614 2014-11-09      1  Brasília
 24616 2014-11-10      1  Brasília
 24626 2014-11-14      1  Brasília
 24635 2014-11-17      1  Brasília
 25582 2014-12-01      1  Brasília
 25586 2014-12-02      1  Brasília
 25587 2014-12-03      1  Brasília
 25588 2014-12-03      1  Brasília
 25592 2014-12-04      1  Brasília
 25598 2014-12-07      1  Brasília
 25599 2014-12-08      1  Brasília
 25600 2014-12-08      1  Brasília
 25606 2014-12-10      1  Brasília
 25616 2014-12-14      1  Brasília
 25620 2014-12-15      1  Brasília
 25628 2014-12-16      1  Brasília
 25637 2014-12-21      1  Brasília
 25638 2014-12-21      1  Brasília
 25639 2014-12-21      1  Brasília
 25640 2014-12-21      1  Brasília
 26414 2014-12-31      1  Brasília

 [115 rows x 3 columns], u'Cear\xe1':             date  event   city
 14438 2014-01-28      1  Ceará
 15184 2014-02-06      1  Ceará
 15278 2014-02-21      1  Ceará
 16560 2014-03-21      1  Ceará
 18791 2014-04-22      1  Ceará
 18809 2014-05-04      1  Ceará
 18872 2014-05-14      1  Ceará
 19019 2014-05-28      1  Ceará
 20006 2014-06-11      1  Ceará
 20007 2014-06-11      1  Ceará
 20021 2014-06-13      1  Ceará
 20044 2014-06-16      1  Ceará
 20068 2014-06-22      1  Ceará
 20081 2014-06-25      1  Ceará
 22802 2014-07-03      1  Ceará
 22803 2014-07-03      1  Ceará
 22829 2014-07-13      1  Ceará, u'Esp\xedrito Santo':             date  event            city
 18929 2014-05-20      1  Espírito Santo
 18983 2014-05-26      1  Espírito Santo, u'Goi\xe1s':             date  event   city
 15188 2014-02-06      1  Goiás
 16527 2014-03-16      1  Goiás
 17777 2014-04-07      1  Goiás
 17778 2014-04-07      1  Goiás
 17779 2014-04-07      1  Goiás
 17780 2014-04-07      1  Goiás
 18873 2014-05-14      1  Goiás
 18888 2014-05-15      1  Goiás
 18901 2014-05-16      1  Goiás
 18951 2014-05-21      1  Goiás
 19948 2014-06-02      1  Goiás
 19949 2014-06-02      1  Goiás
 19950 2014-06-02      1  Goiás
 19992 2014-06-09      1  Goiás
 20082 2014-06-25      1  Goiás
 20083 2014-06-25      1  Goiás
 20084 2014-06-25      1  Goiás
 20085 2014-06-25      1  Goiás
 20086 2014-06-25      1  Goiás
 20087 2014-06-25      1  Goiás
 20088 2014-06-25      1  Goiás
 20089 2014-06-25      1  Goiás
 20090 2014-06-25      1  Goiás
 20091 2014-06-25      1  Goiás
 20092 2014-06-25      1  Goiás
 20093 2014-06-25      1  Goiás
 20094 2014-06-25      1  Goiás
 20095 2014-06-25      1  Goiás
 21081 2014-08-07      1  Goiás
 22843 2014-07-15      1  Goiás
 23596 2014-10-20      1  Goiás, u'Maranh\xe3o':             date  event      city
 14335 2014-01-04      1  Maranhão
 14354 2014-01-09      1  Maranhão
 14355 2014-01-09      1  Maranhão
 14380 2014-01-15      1  Maranhão
 14384 2014-01-16      1  Maranhão
 14407 2014-01-22      1  Maranhão
 14433 2014-01-27      1  Maranhão
 15182 2014-02-05      1  Maranhão
 18952 2014-05-21      1  Maranhão
 18984 2014-05-26      1  Maranhão
 19009 2014-05-27      1  Maranhão
 21124 2014-08-21      1  Maranhão
 21995 2014-09-03      1  Maranhão
 22050 2014-09-16      1  Maranhão
 22051 2014-09-16      1  Maranhão
 22054 2014-09-17      1  Maranhão
 22067 2014-09-22      1  Maranhão
 23588 2014-10-19      1  Maranhão, u'Mato Grosso':             date  event         city
 14439 2014-01-28      1  Mato Grosso
 15189 2014-02-06      1  Mato Grosso
 18915 2014-05-19      1  Mato Grosso
 18916 2014-05-19      1  Mato Grosso
 18985 2014-05-26      1  Mato Grosso
 24651 2014-11-24      1  Mato Grosso, u'Mato Grosso do Sul':             date  event                city
 18930 2014-05-20      1  Mato Grosso do Sul
 18986 2014-05-26      1  Mato Grosso do Sul
 23576 2014-10-17      1  Mato Grosso do Sul, u'Minas Gerais':             date  event          city
 14356 2014-01-09      1  Minas Gerais
 14440 2014-01-28      1  Minas Gerais
 15190 2014-02-06      1  Minas Gerais
 15245 2014-02-16      1  Minas Gerais
 15246 2014-02-16      1  Minas Gerais
 15284 2014-02-23      1  Minas Gerais
 16535 2014-03-18      1  Minas Gerais
 16561 2014-03-21      1  Minas Gerais
 18815 2014-05-05      1  Minas Gerais
 18847 2014-05-11      1  Minas Gerais
 18861 2014-05-13      1  Minas Gerais
 18874 2014-05-14      1  Minas Gerais
 18875 2014-05-14      1  Minas Gerais
 18876 2014-05-14      1  Minas Gerais
 18917 2014-05-19      1  Minas Gerais
 18931 2014-05-20      1  Minas Gerais
 18932 2014-05-20      1  Minas Gerais
 18933 2014-05-20      1  Minas Gerais
 20008 2014-06-11      1  Minas Gerais
 20022 2014-06-13      1  Minas Gerais
 20045 2014-06-16      1  Minas Gerais
 20073 2014-06-23      1  Minas Gerais
 20102 2014-06-27      1  Minas Gerais
 21094 2014-08-09      1  Minas Gerais
 21095 2014-08-10      1  Minas Gerais
 21131 2014-08-24      1  Minas Gerais
 21132 2014-08-24      1  Minas Gerais
 22001 2014-09-06      1  Minas Gerais
 22002 2014-09-06      1  Minas Gerais
 22033 2014-09-12      1  Minas Gerais
 22072 2014-09-24      1  Minas Gerais
 22084 2014-09-27      1  Minas Gerais
 22085 2014-09-27      1  Minas Gerais
 22086 2014-09-27      1  Minas Gerais
 22817 2014-07-07      1  Minas Gerais
 22838 2014-07-14      1  Minas Gerais
 23534 2014-10-02      1  Minas Gerais
 23577 2014-10-17      1  Minas Gerais
 23578 2014-10-17      1  Minas Gerais
 23597 2014-10-20      1  Minas Gerais
 23610 2014-10-21      1  Minas Gerais
 23611 2014-10-21      1  Minas Gerais
 23612 2014-10-21      1  Minas Gerais
 23630 2014-10-24      1  Minas Gerais
 24627 2014-11-14      1  Minas Gerais, u'Paran\xe1':             date  event    city
 14373 2014-01-14      1  Paraná
 14374 2014-01-14      1  Paraná
 14442 2014-01-28      1  Paraná
 15173 2014-02-05      1  Paraná
 15210 2014-02-10      1  Paraná
 15301 2014-02-25      1  Paraná
 16468 2014-03-04      1  Paraná
 17765 2014-04-06      1  Paraná
 17792 2014-04-09      1  Paraná
 18839 2014-05-08      1  Paraná
 18851 2014-05-12      1  Paraná
 18902 2014-05-16      1  Paraná
 18988 2014-05-26      1  Paraná
 19020 2014-05-28      1  Paraná
 19965 2014-06-04      1  Paraná
 19966 2014-06-04      1  Paraná
 19989 2014-06-08      1  Paraná
 20032 2014-06-15      1  Paraná
 20033 2014-06-15      1  Paraná
 20034 2014-06-15      1  Paraná
 20035 2014-06-15      1  Paraná
 20096 2014-06-25      1  Paraná
 20099 2014-06-26      1  Paraná
 21128 2014-08-23      1  Paraná
 21133 2014-08-24      1  Paraná
 21142 2014-08-26      1  Paraná
 21996 2014-09-04      1  Paraná
 22034 2014-09-12      1  Paraná
 22044 2014-09-15      1  Paraná
 22073 2014-09-24      1  Paraná
 22807 2014-07-04      1  Paraná
 22830 2014-07-13      1  Paraná
 23547 2014-10-07      1  Paraná
 23563 2014-10-12      1  Paraná
 23584 2014-10-18      1  Paraná
 23613 2014-10-21      1  Paraná
 24628 2014-11-14      1  Paraná
 24660 2014-11-28      1  Paraná
 25601 2014-12-08      1  Paraná
 25642 2014-12-28      1  Paraná, u'Para\xedba':             date  event     city
 14441 2014-01-28      1  Paraíba
 18889 2014-05-15      1  Paraíba
 18890 2014-05-15      1  Paraíba
 18891 2014-05-15      1  Paraíba
 18892 2014-05-15      1  Paraíba
 18936 2014-05-20      1  Paraíba
 18987 2014-05-26      1  Paraíba
 22812 2014-07-06      1  Paraíba
 22872 2014-07-28      1  Paraíba
 23574 2014-10-16      1  Paraíba, u'Par\xe1':             date  event  city
 16539 2014-03-19      1  Pará
 16552 2014-03-20      1  Pará
 17756 2014-04-05      1  Pará
 17757 2014-04-05      1  Pará
 17758 2014-04-05      1  Pará
 17759 2014-04-05      1  Pará
 17862 2014-04-24      1  Pará
 17863 2014-04-24      1  Pará
 17864 2014-04-24      1  Pará
 17865 2014-04-24      1  Pará
 18836 2014-05-08      1  Pará
 18837 2014-05-08      1  Pará
 18838 2014-05-08      1  Pará
 18877 2014-05-14      1  Pará
 18918 2014-05-19      1  Pará
 18934 2014-05-20      1  Pará
 18935 2014-05-20      1  Pará
 19985 2014-06-07      1  Pará
 20009 2014-06-11      1  Pará
 20010 2014-06-11      1  Pará
 20026 2014-06-14      1  Pará
 22014 2014-09-08      1  Pará
 23531 2014-10-01      1  Pará
 23572 2014-10-14      1  Pará
 23589 2014-10-19      1  Pará, u'Pernambuco':             date  event        city
 14443 2014-01-28      1  Pernambuco
 15191 2014-02-06      1  Pernambuco
 15230 2014-02-12      1  Pernambuco
 16562 2014-03-21      1  Pernambuco
 17802 2014-04-10      1  Pernambuco
 18816 2014-05-05      1  Pernambuco
 18840 2014-05-08      1  Pernambuco
 18852 2014-05-12      1  Pernambuco
 18853 2014-05-12      1  Pernambuco
 18854 2014-05-12      1  Pernambuco
 18855 2014-05-12      1  Pernambuco
 18937 2014-05-20      1  Pernambuco
 20046 2014-06-16      1  Pernambuco
 20049 2014-06-17      1  Pernambuco
 20110 2014-06-29      1  Pernambuco
 21076 2014-08-06      1  Pernambuco
 21125 2014-08-21      1  Pernambuco
 21134 2014-08-24      1  Pernambuco
 22074 2014-09-24      1  Pernambuco
 22093 2014-09-28      1  Pernambuco
 22789 2014-06-29      1  Pernambuco
 22839 2014-07-14      1  Pernambuco
 22871 2014-07-27      1  Pernambuco
 23545 2014-10-06      1  Pernambuco
 23548 2014-10-07      1  Pernambuco
 23598 2014-10-20      1  Pernambuco
 23599 2014-10-20      1  Pernambuco
 23614 2014-10-21      1  Pernambuco
 24639 2014-11-18      1  Pernambuco, u'Piau\xed':             date  event   city
 14444 2014-01-28      1  Piauí
 15251 2014-02-17      1  Piauí
 17784 2014-04-08      1  Piauí
 17785 2014-04-08      1  Piauí
 17803 2014-04-10      1  Piauí
 17818 2014-04-13      1  Piauí
 17849 2014-04-21      1  Piauí
 18893 2014-05-15      1  Piauí
 18894 2014-05-15      1  Piauí
 18962 2014-05-22      1  Piauí
 22035 2014-09-12      1  Piauí
 24652 2014-11-24      1  Piauí, u'Rio Grande do Norte':             date  event                 city
 14402 2014-01-21      1  Rio Grande do Norte
 17852 2014-04-21      1  Rio Grande do Norte
 18999 2014-05-26      1  Rio Grande do Norte
 20014 2014-06-11      1  Rio Grande do Norte
 20040 2014-06-15      1  Rio Grande do Norte
 20041 2014-06-15      1  Rio Grande do Norte
 23559 2014-10-10      1  Rio Grande do Norte, u'Rio Grande do Sul':             date  event               city
 14393 2014-01-19      1  Rio Grande do Sul
 14409 2014-01-22      1  Rio Grande do Sul
 14429 2014-01-26      1  Rio Grande do Sul
 14430 2014-01-26      1  Rio Grande do Sul
 14431 2014-01-26      1  Rio Grande do Sul
 14449 2014-01-28      1  Rio Grande do Sul
 14458 2014-01-30      1  Rio Grande do Sul
 15176 2014-02-05      1  Rio Grande do Sul
 15193 2014-02-06      1  Rio Grande do Sul
 15207 2014-02-09      1  Rio Grande do Sul
 15218 2014-02-10      1  Rio Grande do Sul
 15219 2014-02-10      1  Rio Grande do Sul
 15226 2014-02-11      1  Rio Grande do Sul
 15227 2014-02-11      1  Rio Grande do Sul
 15269 2014-02-19      1  Rio Grande do Sul
 15270 2014-02-19      1  Rio Grande do Sul
 15313 2014-02-27      1  Rio Grande do Sul
 16477 2014-03-06      1  Rio Grande do Sul
 16485 2014-03-09      1  Rio Grande do Sul
 16524 2014-03-15      1  Rio Grande do Sul
 16532 2014-03-17      1  Rio Grande do Sul
 16598 2014-03-26      1  Rio Grande do Sul
 16599 2014-03-26      1  Rio Grande do Sul
 16607 2014-03-27      1  Rio Grande do Sul
 17737 2014-04-01      1  Rio Grande do Sul
 17755 2014-04-04      1  Rio Grande do Sul
 17799 2014-04-09      1  Rio Grande do Sul
 17843 2014-04-19      1  Rio Grande do Sul
 18859 2014-05-12      1  Rio Grande do Sul
 18883 2014-05-14      1  Rio Grande do Sul
 19000 2014-05-26      1  Rio Grande do Sul
 19025 2014-05-28      1  Rio Grande do Sul
 19942 2014-06-01      1  Rio Grande do Sul
 19943 2014-06-01      1  Rio Grande do Sul
 19944 2014-06-01      1  Rio Grande do Sul
 19971 2014-06-04      1  Rio Grande do Sul
 20015 2014-06-11      1  Rio Grande do Sul
 20019 2014-06-12      1  Rio Grande do Sul
 20030 2014-06-14      1  Rio Grande do Sul
 20053 2014-06-17      1  Rio Grande do Sul
 20071 2014-06-22      1  Rio Grande do Sul
 21997 2014-09-04      1  Rio Grande do Sul
 21998 2014-09-04      1  Rio Grande do Sul
 22090 2014-09-27      1  Rio Grande do Sul
 23541 2014-10-04      1  Rio Grande do Sul
 23550 2014-10-07      1  Rio Grande do Sul
 23581 2014-10-17      1  Rio Grande do Sul
 23618 2014-10-21      1  Rio Grande do Sul
 23634 2014-10-24      1  Rio Grande do Sul
 25589 2014-12-03      1  Rio Grande do Sul, u'Rio de Janeiro':             date  event            city
 14328 2014-01-01      1  Rio de Janeiro
 14329 2014-01-02      1  Rio de Janeiro
 14330 2014-01-02      1  Rio de Janeiro
 14331 2014-01-01      1  Rio de Janeiro
 14332 2014-01-02      1  Rio de Janeiro
 14333 2014-01-03      1  Rio de Janeiro
 14336 2014-01-04      1  Rio de Janeiro
 14338 2014-01-05      1  Rio de Janeiro
 14339 2014-01-05      1  Rio de Janeiro
 14340 2014-01-05      1  Rio de Janeiro
 14344 2014-01-06      1  Rio de Janeiro
 14345 2014-01-06      1  Rio de Janeiro
 14346 2014-01-06      1  Rio de Janeiro
 14347 2014-01-06      1  Rio de Janeiro
 14349 2014-01-07      1  Rio de Janeiro
 14351 2014-01-08      1  Rio de Janeiro
 14352 2014-01-08      1  Rio de Janeiro
 14353 2014-01-08      1  Rio de Janeiro
 14357 2014-01-09      1  Rio de Janeiro
 14358 2014-01-09      1  Rio de Janeiro
 14360 2014-01-10      1  Rio de Janeiro
 14362 2014-01-11      1  Rio de Janeiro
 14364 2014-01-12      1  Rio de Janeiro
 14367 2014-01-13      1  Rio de Janeiro
 14368 2014-01-13      1  Rio de Janeiro
 14369 2014-01-13      1  Rio de Janeiro
 14370 2014-01-13      1  Rio de Janeiro
 14375 2014-01-14      1  Rio de Janeiro
 14376 2014-01-14      1  Rio de Janeiro
 14377 2014-01-14      1  Rio de Janeiro
 ...          ...    ...             ...
 24637 2014-11-17      1  Rio de Janeiro
 24640 2014-11-18      1  Rio de Janeiro
 24641 2014-11-18      1  Rio de Janeiro
 24642 2014-11-18      1  Rio de Janeiro
 24643 2014-11-19      1  Rio de Janeiro
 24644 2014-11-19      1  Rio de Janeiro
 24647 2014-11-20      1  Rio de Janeiro
 24650 2014-11-23      1  Rio de Janeiro
 24656 2014-11-26      1  Rio de Janeiro
 24662 2014-11-29      1  Rio de Janeiro
 25580 2014-11-30      1  Rio de Janeiro
 25581 2014-11-30      1  Rio de Janeiro
 25593 2014-12-04      1  Rio de Janeiro
 25602 2014-12-08      1  Rio de Janeiro
 25603 2014-12-09      1  Rio de Janeiro
 25604 2014-12-09      1  Rio de Janeiro
 25614 2014-12-13      1  Rio de Janeiro
 25615 2014-12-13      1  Rio de Janeiro
 25617 2014-12-14      1  Rio de Janeiro
 25621 2014-12-15      1  Rio de Janeiro
 25622 2014-12-15      1  Rio de Janeiro
 25623 2014-12-15      1  Rio de Janeiro
 25624 2014-12-15      1  Rio de Janeiro
 25629 2014-12-16      1  Rio de Janeiro
 25630 2014-12-16      1  Rio de Janeiro
 25631 2014-12-16      1  Rio de Janeiro
 25635 2014-12-17      1  Rio de Janeiro
 25636 2014-12-18      1  Rio de Janeiro
 25641 2014-12-25      1  Rio de Janeiro
 26415 2014-12-31      1  Rio de Janeiro

 [653 rows x 3 columns], u'Rond\xf4nia':             date  event      city
 18943 2014-05-20      1  Rondônia
 18944 2014-05-20      1  Rondônia, u'Santa Catarina':             date  event            city
 14450 2014-01-28      1  Santa Catarina
 15255 2014-02-17      1  Santa Catarina
 16461 2014-02-28      1  Santa Catarina
 16582 2014-03-24      1  Santa Catarina
 16589 2014-03-25      1  Santa Catarina
 18945 2014-05-20      1  Santa Catarina
 19001 2014-05-26      1  Santa Catarina
 19014 2014-05-27      1  Santa Catarina
 19940 2014-05-31      1  Santa Catarina
 23551 2014-10-07      1  Santa Catarina, u'Sergipe':             date  event     city
 18907 2014-05-16      1  Sergipe
 18948 2014-05-20      1  Sergipe, u'S\xe3o Paulo':             date  event       city
 14334 2014-01-03      1  São Paulo
 14337 2014-01-04      1  São Paulo
 14341 2014-01-05      1  São Paulo
 14348 2014-01-06      1  São Paulo
 14350 2014-01-07      1  São Paulo
 14359 2014-01-09      1  São Paulo
 14361 2014-01-10      1  São Paulo
 14365 2014-01-12      1  São Paulo
 14366 2014-01-12      1  São Paulo
 14378 2014-01-14      1  São Paulo
 14379 2014-01-14      1  São Paulo
 14383 2014-01-15      1  São Paulo
 14388 2014-01-16      1  São Paulo
 14391 2014-01-17      1  São Paulo
 14394 2014-01-19      1  São Paulo
 14398 2014-01-20      1  São Paulo
 14403 2014-01-21      1  São Paulo
 14404 2014-01-21      1  São Paulo
 14405 2014-01-21      1  São Paulo
 14406 2014-01-21      1  São Paulo
 14410 2014-01-22      1  São Paulo
 14411 2014-01-22      1  São Paulo
 14412 2014-01-22      1  São Paulo
 14417 2014-01-23      1  São Paulo

In [42]:
dict['Alagoas ']

TypeError: 'type' object has no attribute '__getitem__'

In [43]:
dict['Alagoas']

TypeError: 'type' object has no attribute '__getitem__'

In [44]:
dict_temp['Alagoas ']

KeyError: 'Alagoas '

In [45]:
dict_temp['Alagoas']

            date  event     city
18867 2014-05-14      1  Alagoas
18911 2014-05-18      1  Alagoas
18924 2014-05-20      1  Alagoas
18974 2014-05-26      1  Alagoas
25619 2014-12-15      1  Alagoas

In [46]:
type(dict_temp['Alagoas'])

pandas.core.frame.DataFrame

In [47]:
df_gsr_selected.groupby('city').agg({'event':np.sum})

                     event
city
-                       10
Acre                     1
Alagoas                  5
Amapá                    2
Amazonas                13
Bahia                   23
Brasília               115
Ceará                   17
Espírito Santo           2
Goiás                   31
Maranhão                18
Mato Grosso              6
Mato Grosso do Sul       3
Minas Gerais            45
Paraná                  40
Paraíba                 10
Pará                    25
Pernambuco              29
Piauí                   12
Rio Grande do Norte      7
Rio Grande do Sul       50
Rio de Janeiro         653
Rondônia                 2
Santa Catarina          10
Sergipe                  2
São Paulo              453
Tocantins                4

In [48]:
df_gsr_selected.groupby('city').agg({'event':np.sum}).shape

(27, 1)

In [49]:
list(df_gsr_selected.groupby('city').agg({'event':np.sum}))

['event']

In [50]:
df_gsr_selected.groupby('city').agg({'event':np.sum})

                     event
city
-                       10
Acre                     1
Alagoas                  5
Amapá                    2
Amazonas                13
Bahia                   23
Brasília               115
Ceará                   17
Espírito Santo           2
Goiás                   31
Maranhão                18
Mato Grosso              6
Mato Grosso do Sul       3
Minas Gerais            45
Paraná                  40
Paraíba                 10
Pará                    25
Pernambuco              29
Piauí                   12
Rio Grande do Norte      7
Rio Grande do Sul       50
Rio de Janeiro         653
Rondônia                 2
Santa Catarina          10
Sergipe                  2
São Paulo              453
Tocantins                4

In [51]:
df_gsr_selected.groupby('city').agg({'event':np.sum})['city']

KeyError: 'city'

In [52]:
df_gsr_selected.groupby('city').agg({'event':np.sum})

                     event
city
-                       10
Acre                     1
Alagoas                  5
Amapá                    2
Amazonas                13
Bahia                   23
Brasília               115
Ceará                   17
Espírito Santo           2
Goiás                   31
Maranhão                18
Mato Grosso              6
Mato Grosso do Sul       3
Minas Gerais            45
Paraná                  40
Paraíba                 10
Pará                    25
Pernambuco              29
Piauí                   12
Rio Grande do Norte      7
Rio Grande do Sul       50
Rio de Janeiro         653
Rondônia                 2
Santa Catarina          10
Sergipe                  2
São Paulo              453
Tocantins                4