In [1]:
import pandas as pd
import json as js

file_twitter = "./sample.txt"
file_keys = "./CU_Keywords.2013-01-25T15-36-29"

languages = ['English', 'Portuguese', 'Spanish']


def get_keywords(f_key_dict):
    dicts = {}
    for lag in languages:
        dicts[lag] = {}
    for l in open(f_key_dict):
        obj = js.loads(l)
        lag = obj['language']
        if lag in languages:
            #word = obj['text']
            lemma = obj['tokens'][0]['lemma']
            dicts[lag][lemma] = True
    return dicts


def get_features(obj, language, keywords):
    res = [key in obj['BasisEnrichment']['tokens'] for key in keywords]
    return [int(r) for r in res]
    
        
dicts = get_keywords(file_keys)

def create_df(language):
    df_twitter = pd.DataFrame(columns=(list(dicts[language].keys()) + ['date']))
    lines = open(file_twitter).readlines()
    for i in range(len(lines)):
        obj = js.loads(lines[i])
        if obj['embersGeoCode']['country'] == 'Brazil':
            df_twitter.loc[i] = get_features(obj,language,dicts[language]) + [obj['date']]
    return df_twitter

df1 = create_df(languages[1])
print df1.head()

    ataque  armar  emboscada  interrogatório  recrudescência  oposição  \
2        0      0          0               0               0         0
5        0      0          0               0               0         0
9        0      0          0               0               0         0
12       0      0          0               0               0         0
23       0      0          0               0               0         0

    essencial  cooperativa  pobreza  privar            ...             vice  \
2           0            0        0       0            ...                0
5           0            0        0       0            ...                0
9           0            0        0       0            ...                0
12          0            0        0       0            ...                0
23          0            0        0       0            ...                0

    vigília  perseguição  perigo  relação  desgosto  promotor  rural  manter  \
2         0            0       0        0         0         0      0       0
5         0            0       0        0         0         0      0       0
9         0            0       0        0         0         0      0       0
12        0            0       0        0         0         0      0       0
23        0            0       0        0         0         0      0       0

                        date
2   2014-12-31T23:00:00-0500
5   2014-12-31T23:00:00-0500
9   2014-12-31T23:00:00-0500
12  2014-12-31T23:00:00-0500
23  2014-12-31T23:00:01-0500

[5 rows x 625 columns]

In [2]:
df1.iloc[[1]]

,ataque,armar,emboscada,interrogatório,recrudescência,oposição,essencial,cooperativa,pobreza,privar,...,vice,vigília,perseguição,perigo,relação,desgosto,promotor,rural,manter,date
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2014-12-31T23:00:00-0500

In [3]:
df.iloc[[2]]['emboscada ']

NameError: name 'df' is not defined

In [4]:
df1.iloc[[1]]['emboscada ']

KeyError: 'emboscada '

In [5]:
df1.iloc[[1]][['emboscada ']]

KeyError: "['emboscada '] not in index"

In [6]:
df1.iloc[[1]]['emboscada']

5    0
Name: emboscada, dtype: float64

In [7]:
type(df1.iloc[[1]]['emboscada'])

pandas.core.series.Series

In [8]:
type(df1.iloc[[1]]['emboscada']) + 1

TypeError: unsupported operand type(s) for +: 'type' and 'int'

In [9]:
df1.iloc[[1]]['emboscada'].value()

AttributeError: 'Series' object has no attribute 'value'

In [10]:
df1.iloc[[1]]['emboscada'].values

array([ 0.])

In [11]:
df1.iloc[[1]]['emboscada']

5    0
Name: emboscada, dtype: float64

In [12]:
df1.at[0,'emboscada']

KeyError: 0

In [13]:
df1.at[1,'emboscada']

KeyError: 1

In [14]:
df1.head()

,ataque,armar,emboscada,interrogatório,recrudescência,oposição,essencial,cooperativa,pobreza,privar,...,vice,vigília,perseguição,perigo,relação,desgosto,promotor,rural,manter,date
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2014-12-31T23:00:00-0500
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2014-12-31T23:00:00-0500
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2014-12-31T23:00:00-0500
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2014-12-31T23:00:00-0500
23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2014-12-31T23:00:01-0500

In [15]:
df1.at[2,'emboscada']

0.0

In [16]:
df1.at[2,'date']

u'2014-12-31T23:00:00-0500'

In [17]:
type(df1.at[2,'date'])

unicode

In [18]:
import time

In [19]:
time.strptime(df1.at[2,'date'].split("T")[0],'YY-MM-DD')

ValueError: time data u'2014-12-31' does not match format 'YY-MM-DD'

In [20]:
time.strptime(df1.at[2,'date'].split("T")[0],'Y-M-D')

ValueError: time data u'2014-12-31' does not match format 'Y-M-D'

In [21]:
time.strptime(df1.at[2,'date'].split("T")[0],'Y-m-d')

ValueError: time data u'2014-12-31' does not match format 'Y-m-d'

In [22]:
time.strptime(df1.at[2,'date'].split("T")[0],'%Y-%m-%d')

time.struct_time(tm_year=2014, tm_mon=12, tm_mday=31, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=2, tm_yday=365, tm_isdst=-1)

In [23]:
import pandas as pd
import json as js

file_twitter = "./sample.txt"
file_keys = "./CU_Keywords.2013-01-25T15-36-29"

languages = ['English', 'Portuguese', 'Spanish']


def get_keywords(f_key_dict):
    dicts = {}
    for lag in languages:
        dicts[lag] = {}
    for l in open(f_key_dict):
        obj = js.loads(l)
        lag = obj['language']
        if lag in languages:
            #word = obj['text']
            lemma = obj['tokens'][0]['lemma']
            dicts[lag][lemma] = True
    return dicts


def get_features(obj, language, keywords):
    res = [key in obj['BasisEnrichment']['tokens'] for key in keywords]
    return [int(r) for r in res]
    
        
dicts = get_keywords(file_keys)

def create_df(language):
    df_twitter = pd.DataFrame(columns=(list(dicts[language].keys()) + ['date']))
    lines = open(file_twitter).readlines()
    for i in range(len(lines)):
        obj = js.loads(lines[i])
        if obj['embersGeoCode']['country'] == 'Brazil':
            df_twitter.loc[i] = get_features(obj,language,dicts[language]) + [time.strptime(obj['date'].split("T")[0],'%Y-%m-%d')]
    return df_twitter

def create_matrix(df):
    df_matrix = pd.DataFrame(columns=(list(dicts[language].keys()) + ['date']))
    

df1 = create_df(languages[1])

In [24]:
df1.head()

,ataque,armar,emboscada,interrogatório,recrudescência,oposição,essencial,cooperativa,pobreza,privar,...,vice,vigília,perseguição,perigo,relação,desgosto,promotor,rural,manter,date
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,"(2014, 12, 31, 0, 0, 0, 2, 365, -1)"
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,"(2014, 12, 31, 0, 0, 0, 2, 365, -1)"
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,"(2014, 12, 31, 0, 0, 0, 2, 365, -1)"
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,"(2014, 12, 31, 0, 0, 0, 2, 365, -1)"
23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,"(2014, 12, 31, 0, 0, 0, 2, 365, -1)"

In [25]:
df1.tail()

,ataque,armar,emboscada,interrogatório,recrudescência,oposição,essencial,cooperativa,pobreza,privar,...,vice,vigília,perseguição,perigo,relação,desgosto,promotor,rural,manter,date
86,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,"(2014, 12, 31, 0, 0, 0, 2, 365, -1)"
87,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,"(2014, 12, 31, 0, 0, 0, 2, 365, -1)"
91,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,"(2014, 12, 31, 0, 0, 0, 2, 365, -1)"
95,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,"(2014, 12, 31, 0, 0, 0, 2, 365, -1)"
96,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,"(2014, 12, 31, 0, 0, 0, 2, 365, -1)"

In [26]:
time.strptime(df1.at[96,'date'].split("T")[0],'%Y-%m-%d')

AttributeError: 'time.struct_time' object has no attribute 'split'

In [27]:
type(df1.at[96,'date'].split("T")[0])

AttributeError: 'time.struct_time' object has no attribute 'split'

In [28]:
type(df1.at[96,'date'])

time.struct_time

In [29]:
pd.unique(df1.date.ravel())

array([ time.struct_time(tm_year=2014, tm_mon=12, tm_mday=31, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=2, tm_yday=365, tm_isdst=-1)], dtype=object)

In [30]:
df1.date.ravel()

array([ time.struct_time(tm_year=2014, tm_mon=12, tm_mday=31, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=2, tm_yday=365, tm_isdst=-1),
       time.struct_time(tm_year=2014, tm_mon=12, tm_mday=31, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=2, tm_yday=365, tm_isdst=-1),
       time.struct_time(tm_year=2014, tm_mon=12, tm_mday=31, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=2, tm_yday=365, tm_isdst=-1),
       time.struct_time(tm_year=2014, tm_mon=12, tm_mday=31, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=2, tm_yday=365, tm_isdst=-1),
       time.struct_time(tm_year=2014, tm_mon=12, tm_mday=31, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=2, tm_yday=365, tm_isdst=-1),
       time.struct_time(tm_year=2014, tm_mon=12, tm_mday=31, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=2, tm_yday=365, tm_isdst=-1),
       time.struct_time(tm_year=2014, tm_mon=12, tm_mday=31, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=2, tm_yday=365, tm_isdst=-1),
       time.struct_time(tm_year=2014, tm_mon=12, tm_mday=31, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=2, tm_yday=365, tm_isdst=-1),
       time.struct_time(tm_year=2014, tm_mon=12, tm_mday=31, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=2, tm_yday=365, tm_isdst=-1),
       time.struct_time(tm_year=2014, tm_mon=12, tm_mday=31, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=2, tm_yday=365, tm_isdst=-1),
       time.struct_time(tm_year=2014, tm_mon=12, tm_mday=31, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=2, tm_yday=365, tm_isdst=-1),
       time.struct_time(tm_year=2014, tm_mon=12, tm_mday=31, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=2, tm_yday=365, tm_isdst=-1),
       time.struct_time(tm_year=2014, tm_mon=12, tm_mday=31, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=2, tm_yday=365, tm_isdst=-1),
       time.struct_time(tm_year=2014, tm_mon=12, tm_mday=31, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=2, tm_yday=365, tm_isdst=-1),
       time.struct_time(tm_year=2014, tm_mon=12, tm_mday=31, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=2, tm_yday=365, tm_isdst=-1),
       time.struct_time(tm_year=2014, tm_mon=12, tm_mday=31, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=2, tm_yday=365, tm_isdst=-1),
       time.struct_time(tm_year=2014, tm_mon=12, tm_mday=31, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=2, tm_yday=365, tm_isdst=-1),
       time.struct_time(tm_year=2014, tm_mon=12, tm_mday=31, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=2, tm_yday=365, tm_isdst=-1),
       time.struct_time(tm_year=2014, tm_mon=12, tm_mday=31, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=2, tm_yday=365, tm_isdst=-1),
       time.struct_time(tm_year=2014, tm_mon=12, tm_mday=31, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=2, tm_yday=365, tm_isdst=-1),
       time.struct_time(tm_year=2014, tm_mon=12, tm_mday=31, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=2, tm_yday=365, tm_isdst=-1),
       time.struct_time(tm_year=2014, tm_mon=12, tm_mday=31, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=2, tm_yday=365, tm_isdst=-1)], dtype=object)

In [31]:
df.groupby("date").agg({key: np.sum for key in list(dicts[language].keys())})

NameError: name 'df' is not defined

In [32]:
df1.groupby("date").agg({key: np.sum for key in list(dicts[language].keys())})

NameError: name 'language' is not defined

In [33]:
df.groupby("date").agg({key: np.sum for key in list(dicts[languages[1]].keys())})

NameError: name 'df' is not defined

In [34]:
df1.groupby("date").agg({key: np.sum for key in list(dicts[languages[1]].keys())})

NameError: global name 'np' is not defined

In [35]:
import numpy as np

In [36]:
df1.groupby("date").agg({key: np.sum for key in list(dicts[languages[1]].keys())})

,medo,ataque,armar,autorização,emboscada,interrogatório,recrudescência,oposição,essencial,cooperativa,...,vice,vigília,revoltar,perseguição,perigo,relação,desgosto,promotor,rural,manter
date,,,,,,,,,,,,,,,,,,,,,
"(2014, 12, 31, 0, 0, 0, 2, 365, -1)",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [37]:
df1.head()

,ataque,armar,emboscada,interrogatório,recrudescência,oposição,essencial,cooperativa,pobreza,privar,...,vice,vigília,perseguição,perigo,relação,desgosto,promotor,rural,manter,date
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,"(2014, 12, 31, 0, 0, 0, 2, 365, -1)"
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,"(2014, 12, 31, 0, 0, 0, 2, 365, -1)"
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,"(2014, 12, 31, 0, 0, 0, 2, 365, -1)"
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,"(2014, 12, 31, 0, 0, 0, 2, 365, -1)"
23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,"(2014, 12, 31, 0, 0, 0, 2, 365, -1)"